@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  color: var(--foreground);
  background: #181a1b;
}

/*Customize react responsive modal*/

.react-responsive-modal-modal {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0.8rem !important;
  outline: none !important;
}

/*Customize the scrollbar*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(151, 150, 150);
}
